<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <style type="text/css">
    </style>
    <link rel="icon" href="api/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000" />
    <meta
      name="description"
      content="Продуктовый помощник"
    />
    <link rel="apple-touch-icon" href="api/logo192.png" />
    <title>Custom 500</title>
  </head>
  <body>
    <header>
        <h1>Custom 500</h1>
    </header>
    <main>
    </main>
  </body>
</html>